name: 'Patch SuSFS for Kernel.'

runs:
  using: 'composite'
  steps:
      - name: Get SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Variable
          SUSFS_SOURCE=https://gitlab.com/simonpunk/susfs4ksu.git
          SUSFS_BRANCH=kernel-${{ env.KERNEL_VERSION }}

          # Core
          if [[ "${{ env.SUSFS_FIXED }}" == true ]]; then
            if [ -z "${{ env.PATCHES_SOURCE }}" ] || [ -z "${{ env.PATCHES_BRANCH }}" ]; then
              echo "Please input vaild source and branch!"
              false
            elif [[ "${{ env.PATCHES_SOURCE }}" == *".git" ]]; then
              echo "Please do not set a full URL in PATCH_SOURCE!"
              false
            else
              git clone https://github.com/${{ env.PATCHES_SOURCE }}.git -b ${{ env.PATCHES_BRANCH }} NonGKI_Kernel_Patches --depth=1 # It's not necessary.
            fi
          fi
          git clone $SUSFS_SOURCE -b $SUSFS_BRANCH susfs4ksu --depth=1

          # Copy
          cp susfs4ksu/kernel_patches/fs/* fs/
          cp susfs4ksu/kernel_patches/include/linux/* include/linux/

      - name: Patch SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Check SuSFS
          if grep -q "CONFIG_KSU" "fs/exec.c"; then
            echo "Checked SuSFS Patched, Skip."
          else
            cp susfs4ksu/kernel_patches/50_add_susfs_in_kernel-${{ env.KERNEL_VERSION }}.patch ./

            patch -p1 < 50_add_susfs_in_kernel-${{ env.KERNEL_VERSION }}.patch || true
          fi

      - name: SUSFS Patch Fixed
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if [[ -z "${{ env.SUSFS_155_FIXED }}" ]]; then
            echo "Your doesn't powered any patch file."
          else
            IFS=',' read -ra FIXED_LIST <<< "${{ env.SUSFS_155_FIXED }}"
            echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            for i in "${!FIXED_LIST[@]}"; do
              echo "Patching -> ${FIXED_LIST[$i]}"
              if [[ -z "${{ env.SUSFS_FOLDER_FIXED }}" ]]; then
                cp NonGKI_Kernel_Patches/${FIXED_LIST[$i]}.patch ./
              else
                cp NonGKI_Kernel_Patches/"${{ env.SUSFS_FOLDER_FIXED }}"/${FIXED_LIST[$i]}.patch ./
              fi
              patch -p1 < ${FIXED_LIST[$i]}.patch || true
              echo "Patch fine!"
              echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            done
          fi

      - name: Updated SUSFS Version
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_UPDATE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Upgrade 1.5.7
          cp /tmp/Patches/Patch/susfs_upgrade_to_157.patch ./

          patch -p1 < susfs_upgrade_to_157.patch || true

          # Upgrade 1.5.8
          cp /tmp/Patches/Patch/susfs_upgrade_to_158_${{ env.KERNEL_VERSION }}.patch ./
          patch -p1 < susfs_upgrade_to_158_${{ env.KERNEL_VERSION }}.patch || true
          echo "Detected no-kprobe hook, use no-kprobe patch."

          # Upgrade 1.5.9
          cp /tmp/Patches/Patch/susfs_upgrade_to_159.patch ./

          patch -p1 < susfs_upgrade_to_159.patch || true

          # Upgrade 1.5.10
          cp /tmp/Patches/Patch/susfs_upgrade_to_1510_${{ env.KERNEL_VERSION }}.patch ./
          patch -p1 < susfs_upgrade_to_1510_${{ env.KERNEL_VERSION }}.patch || true
          echo "Detected no-kprobe hook, use no-kprobe patch to update 1.5.10."

      - name: Updated SUSFS Patch Fixed
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_UPDATE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if [[ -z "${{ env.SUSFS_LATEST_FIXED }}" ]]; then
            echo "Your doesn't powered any patch file."
          else
            IFS=',' read -ra FIXED_LIST <<< "${{ env.SUSFS_LATEST_FIXED }}"
            echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            for i in "${!FIXED_LIST[@]}"; do
              echo "Patching -> ${FIXED_LIST[$i]}"
              if [[ -z "${{ env.SUSFS_FOLDER_FIXED }}" ]]; then
                cp NonGKI_Kernel_Patches/${FIXED_LIST[$i]}.patch ./
              else
                cp NonGKI_Kernel_Patches/"${{ env.SUSFS_FOLDER_FIXED }}"/${FIXED_LIST[$i]}.patch ./
              fi
              patch -p1 < ${FIXED_LIST[$i]}.patch || true
              echo "Patch fine!"
              echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            done
          fi
