name: 'Patch SuSFS for Kernel.'

runs:
  using: 'composite'
  steps:
      - name: Get SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Variable
          SUSFS_SOURCE=https://gitlab.com/simonpunk/susfs4ksu.git
          SUSFS_BRANCH=kernel-${{ env.KERNEL_VERSION }}

          # Core
          if [[ "${{ env.SUSFS_FIXED }}" == true ]]; then
            if [ -z "${{ env.PATCHES_SOURCE }}" ] || [ -z "${{ env.PATCHES_BRANCH }}" ]; then
              echo "Please input vaild source and branch!"
              false
            elif [[ "${{ env.PATCHES_SOURCE }}" == *".git" ]]; then
              echo "Please do not set a full URL in PATCH_SOURCE!"
              false
            else
              git clone https://github.com/${{ env.PATCHES_SOURCE }}.git -b ${{ env.PATCHES_BRANCH }} NonGKI_Kernel_Patches --depth=1 # It's not necessary.
            fi
          fi
          git clone $SUSFS_SOURCE -b $SUSFS_BRANCH susfs4ksu --depth=1

          # Copy
          cp susfs4ksu/kernel_patches/fs/* fs/
          cp susfs4ksu/kernel_patches/include/linux/* include/linux/

      - name: Set KSU and SUSFS for DEFCONFIG
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          echo "CONFIG_KSU_SUSFS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_PATH=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_KSTAT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "# CONFIG_KSU_SUSFS_SUS_OVERLAYFS is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_TRY_UMOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SPOOF_UNAME=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_ENABLE_LOG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_OPEN_REDIRECT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}

      - name: Patch SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Check SuSFS
          if grep -q "CONFIG_KSU" "fs/exec.c"; then
            echo "Checked SuSFS Patched, Skip."
          else
            cp susfs4ksu/kernel_patches/50_add_susfs_in_kernel-${{ env.KERNEL_VERSION }}.patch ./

            patch -p1 < 50_add_susfs_in_kernel-${{ env.KERNEL_VERSION }}.patch || true
          fi

      - name: SUSFS Patch Fixed
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if [[ -z "${{ env.SUSFS_155_FIXED }}" ]]; then
            echo "Your doesn't powered any patch file."
          else
            IFS=',' read -ra FIXED_LIST <<< "${{ env.SUSFS_155_FIXED }}"
            echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            for i in "${!FIXED_LIST[@]}"; do
              echo "Patching -> ${FIXED_LIST[$i]}"
              if [[ -z "${{ env.SUSFS_FOLDER_FIXED }}" ]]; then
                cp NonGKI_Kernel_Patches/${FIXED_LIST[$i]}.patch ./
              else
                cp NonGKI_Kernel_Patches/"${{ env.SUSFS_FOLDER_FIXED }}"/${FIXED_LIST[$i]}.patch ./
              fi
              patch -p1 < ${FIXED_LIST[$i]}.patch || true
              echo "Patch fine!"
              echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            done
          fi

      - name: Updated SUSFS Version
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_UPDATE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Upgrade 1.5.7
          cp /tmp/Patches/Patch/susfs_upgrade_to_157.patch ./
          patch -p1 < susfs_upgrade_to_157.patch || true
          echo "================="
          echo "=Upgraded  1.5.7="
          echo "================="

          # Upgrade 1.5.8
          cp /tmp/Patches/Patch/susfs_upgrade_to_158_${{ env.KERNEL_VERSION }}.patch ./
          patch -p1 < susfs_upgrade_to_158_${{ env.KERNEL_VERSION }}.patch || true
          echo "================="
          echo "=Upgraded  1.5.8="
          echo "================="

          # Upgrade 1.5.9
          cp /tmp/Patches/Patch/susfs_upgrade_to_159.patch ./
          patch -p1 < susfs_upgrade_to_159.patch || true
          echo "================="
          echo "=Upgraded  1.5.9="
          echo "================="

          # Upgrade 1.5.10
          cp /tmp/Patches/Patch/susfs_upgrade_to_1510_${{ env.KERNEL_VERSION }}.patch ./
          patch -p1 < susfs_upgrade_to_1510_${{ env.KERNEL_VERSION }}.patch || true
          echo "================="
          echo "=Upgraded 1.5.10="
          echo "================="

          # Upgrade 1.5.11
          if grep -q "susfs_reorder_mnt_id" "drivers/kernelsu/core_hook.c"; then
            cp /tmp/Patches/Patch/susfs_upgrade_to_1511_${{ env.KERNEL_VERSION }}.patch ./
            patch -p1 < susfs_upgrade_to_1511_${{ env.KERNEL_VERSION }}.patch || true
            echo "================="
            echo "=Upgraded 1.5.11="
            echo "================="
          else
            echo "Your kernelsu fork cannot supported SuSFS 1.5.11. Skipped."
          fi

          # Upgrade 1.5.12
          cp /tmp/Patches/Patch/susfs_upgrade_to_1512_${{ env.KERNEL_VERSION }}.patch ./
          patch -p1 < susfs_upgrade_to_1512_${{ env.KERNEL_VERSION }}.patch || true
          echo "================="
          echo "=Upgraded 1.5.12="
          echo "================="

      - name: Updated SUSFS Patch Fixed
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_UPDATE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if [[ -z "${{ env.SUSFS_LATEST_FIXED }}" ]]; then
            echo "Your doesn't powered any patch file."
          else
            IFS=',' read -ra FIXED_LIST <<< "${{ env.SUSFS_LATEST_FIXED }}"
            echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            for i in "${!FIXED_LIST[@]}"; do
              echo "Patching -> ${FIXED_LIST[$i]}"
              if [[ -z "${{ env.SUSFS_FOLDER_FIXED }}" ]]; then
                cp NonGKI_Kernel_Patches/${FIXED_LIST[$i]}.patch ./
              else
                cp NonGKI_Kernel_Patches/"${{ env.SUSFS_FOLDER_FIXED }}"/${FIXED_LIST[$i]}.patch ./
              fi
              patch -p1 < ${FIXED_LIST[$i]}.patch || true
              echo "Patch fine!"
              echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            done
          fi
