name: 'Patch SuSFS for Kernel.'

runs:
  using: 'composite'
  steps:
      - name: Get SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Variable
          SUSFS_SOURCE=https://gitlab.com/simonpunk/susfs4ksu.git
          SUSFS_BRANCH=kernel-${{ env.KERNEL_VERSION }}

          # Core
          if [[ "${{ env.SUSFS_FIXED }}" == true ]]; then
            if [ -z "${{ env.PATCHES_SOURCE }}" ] || [ -z "${{ env.PATCHES_BRANCH }}" ]; then
              echo "Please input vaild source and branch!"
              false
            elif [[ "${{ env.PATCHES_SOURCE }}" == *".git" ]]; then
              echo "Please do not set a full URL in PATCH_SOURCE!"
              false
            else
              git clone https://github.com/${{ env.PATCHES_SOURCE }}.git -b ${{ env.PATCHES_BRANCH }} NonGKI_Kernel_Patches --depth=1 # It's not necessary.
            fi
          fi
          git clone $SUSFS_SOURCE -b $SUSFS_BRANCH susfs4ksu --depth=1

          # Copy
          cp susfs4ksu/kernel_patches/fs/* fs/
          cp susfs4ksu/kernel_patches/include/linux/* include/linux/

      - name: Set KSU and SUSFS for DEFCONFIG
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          echo "CONFIG_KSU_SUSFS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_PATH=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_KSTAT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "# CONFIG_KSU_SUSFS_SUS_OVERLAYFS is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_TRY_UMOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SPOOF_UNAME=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_ENABLE_LOG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_OPEN_REDIRECT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "# CONFIG_KSU_SUSFS_SUS_SU is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}

          if grep -q "CMD_SUSFS_ADD_SUS_MAP" "drivers/kernelsu/core_hook.c"; then
            echo "CONFIG_KSU_SUSFS_SUS_MAP=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          fi

      - name: Patch SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          PACK_FILES(){
            temp_dir=$(mktemp -d)
            find . -name "*.rej" -exec cp --parents {} "$temp_dir" \;
            find . -name "*.rej" | sed 's/\.rej$//' | xargs -I {} test -f {} && find . -name "*.rej" | sed 's/\.rej$//' | xargs -I {} cp --parents {} "$temp_dir"
            tar -czf "rej_files_1.5.5.tar.gz" -C "$temp_dir" .
            rm -rf "$temp_dir"
            echo "[+] Packed Successfully."

            find . -type f \( -name "*.rej" -o -name "*.orig" \) -delete
            echo "[+] Removed all .rej and .orig files."
            echo "[+] =================================== "
          }

          # Check SuSFS
          if grep -q "CONFIG_KSU_SUSFS" "fs/namespace.c"; then
            echo ">>>>>>>>>>>>Check<<<<<<<<<<<<"
            echo ">Checked SuSFS Patched,Skip.<"
            echo ">>>>>>>>>>>>>> <<<<<<<<<<<<<<"
            echo "SUSFS_SKIP=true" >> $GITHUB_ENV
          else
            cp susfs4ksu/kernel_patches/50_add_susfs_in_kernel-${{ env.KERNEL_VERSION }}.patch ./

            patch -p1 < 50_add_susfs_in_kernel-${{ env.KERNEL_VERSION }}.patch || true
          fi

          # Patch .rej find
          if [[ "${{ env.BUILD_DEBUGGER }}" == "true" ]]; then
            echo "[+] Checking SuSFS v1.5.5 rej files..."
            mapfile -t REJ_FILES < <(find . -type f -name "*.rej")
            if [ ${#REJ_FILES[@]} -eq 0 ]; then
                echo "[+] Your kernel have no any rej files, Skipped."
            else
                for CAT_REJ in "${REJ_FILES[@]}"; do
                    echo "[-] Found .rej file: $CAT_REJ"
                    cat $CAT_REJ
                    echo "[+] =================================== "
                done
            fi

            if [[ "${{ env.SKIP_PATCH }}" == "true" ]] || [ -n "${{ env.SUSFS_155_FIXED }}" ]; then
                echo "[+] SuSFS Patch Version: v1.5.5. "
                echo "[+] SKIP_PATCH enabled or found SuSFS v1.5.5 Fixed Patch, Skipped."
                PACK_FILES
            elif [[ "${{ env.SKIP_PATCH }}" != "true" ]] || [ -z "${{ env.SUSFS_155_FIXED }}" ]; then
                echo "[+] SuSFS Patch Version: v1.5.5. "
                echo "[-] Found .rej files, Stopped! "
                PACK_FILES
                false
            fi
          fi

      - name: SUSFS Patch Fixed
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_SKIP != 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if [[ -z "${{ env.SUSFS_155_FIXED }}" ]]; then
            echo "Your doesn't powered any patch file."
          else
            IFS=',' read -ra FIXED_LIST <<< "${{ env.SUSFS_155_FIXED }}"
            echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            for i in "${!FIXED_LIST[@]}"; do
              echo "Patching -> ${FIXED_LIST[$i]}"
              if [[ -z "${{ env.SUSFS_FOLDER_FIXED }}" ]]; then
                cp NonGKI_Kernel_Patches/${FIXED_LIST[$i]}.patch ./
              else
                cp NonGKI_Kernel_Patches/"${{ env.SUSFS_FOLDER_FIXED }}"/${FIXED_LIST[$i]}.patch ./
              fi
              patch -p1 < ${FIXED_LIST[$i]}.patch || true
              echo "Patch fine!"
              echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            done
          fi

      - name: Updated SUSFS Version
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_UPDATE == 'true' && env.SUSFS_SKIP != 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          PACK_FILES(){
            local SUSFS_VERSION="$1"

            temp_dir=$(mktemp -d)
            find . -name "*.rej" -exec cp --parents {} "$temp_dir" \;
            find . -name "*.rej" | sed 's/\.rej$//' | xargs -I {} test -f {} && find . -name "*.rej" | sed 's/\.rej$//' | xargs -I {} cp --parents {} "$temp_dir"
            tar -czf "rej_files_${SUSFS_VERSION}.tar.gz" -C "$temp_dir" .
            rm -rf "$temp_dir"
            echo "[+] Packed Successfully."

            find . -type f \( -name "*.rej" -o -name "*.orig" \) -delete
            echo "[+] Removed all .rej and .orig files."
            echo "[+] =================================== "
          }

          REJ_FOUND(){
            local SUSFS_VERSION="$1"

            if [[ "${{ env.BUILD_DEBUGGER }}" == "true" ]]; then
                echo "[+] Checking SuSFS v${SUSFS_VERSION} rej files..."
                mapfile -t REJ_FILES < <(find . -type f -name "*.rej")
                if [ ${#REJ_FILES[@]} -eq 0 ]; then
                    echo "[+] Your kernel have no any rej files, Skipped."
                else
                    for CAT_REJ in "${REJ_FILES[@]}"; do
                        echo "[-] Found .rej file: $CAT_REJ"
                        cat $CAT_REJ
                        echo "[+] =================================== "
                    done
                fi

                if [[ "${{ env.SKIP_PATCH }}" == "true" ]] || [ -n "${{ env.SUSFS_LATEST_FIXED }}" ]; then
                    echo "[+] SuSFS Patch Version: v${SUSFS_VERSION}. "
                    echo "[+] SKIP_PATCH enabled or found SuSFS Fixed Patches, Skipped."
                    PACK_FILES "${SUSFS_VERSION}"
                elif [[ "${{ env.SKIP_PATCH }}" != "true" ]] || [ -z "${{ env.SUSFS_LATEST_FIXED }}" ]; then
                    echo "[+] SuSFS Patch Version: v${SUSFS_VERSION}. "
                    echo "[-] Found .rej files, Stopped! "
                    PACK_FILES "${SUSFS_VERSION}"
                    false
                fi
            fi
          }

          # Upgrade 1.5.7
          cp /tmp/Patches/Patch/susfs_upgrade_to_157.patch ./
          patch -p1 < susfs_upgrade_to_157.patch || true
          echo "================="
          echo "=Upgraded  1.5.7="
          echo "================="

          REJ_FOUND "1.5.7"

          # Upgrade 1.5.8
          cp /tmp/Patches/Patch/susfs_upgrade_to_158_${{ env.KERNEL_VERSION }}.patch ./
          patch -p1 < susfs_upgrade_to_158_${{ env.KERNEL_VERSION }}.patch || true
          echo "================="
          echo "=Upgraded  1.5.8="
          echo "================="

          REJ_FOUND "1.5.8"

          # Upgrade 1.5.9
          cp /tmp/Patches/Patch/susfs_upgrade_to_159.patch ./
          patch -p1 < susfs_upgrade_to_159.patch || true
          echo "================="
          echo "=Upgraded  1.5.9="
          echo "================="

          REJ_FOUND "1.5.9"

          # Upgrade 1.5.10
          if grep -q "CMD_SUSFS_ENABLE_AVC_LOG_SPOOFING" "drivers/kernelsu/core_hook.c"; then
            cp /tmp/Patches/Patch/susfs_upgrade_to_1510_${{ env.KERNEL_VERSION }}.patch ./
            patch -p1 < susfs_upgrade_to_1510_${{ env.KERNEL_VERSION }}.patch || true
            echo "================="
            echo "=Upgraded 1.5.10="
            echo "================="

            REJ_FOUND "1.5.10"
          else
            echo "============================================================"
            echo "=Your kernelsu fork cannot supported SuSFS 1.5.10, Skipped.="
            echo "============================================================"
          fi

          # Upgrade 1.5.11
          if grep -q "susfs_reorder_mnt_id" "drivers/kernelsu/core_hook.c"; then
            cp /tmp/Patches/Patch/susfs_upgrade_to_1511_${{ env.KERNEL_VERSION }}.patch ./
            patch -p1 < susfs_upgrade_to_1511_${{ env.KERNEL_VERSION }}.patch || true
            echo "================="
            echo "=Upgraded 1.5.11="
            echo "================="

            REJ_FOUND "1.5.11"
          else
            echo "============================================================"
            echo "=Your kernelsu fork cannot supported SuSFS 1.5.11, Skipped.="
            echo "============================================================"
          fi

          # Upgrade 1.5.12
          if grep -q "susfs_reorder_mnt_id" "drivers/kernelsu/core_hook.c"; then
            cp /tmp/Patches/Patch/susfs_upgrade_to_1512_${{ env.KERNEL_VERSION }}.patch ./
            patch -p1 < susfs_upgrade_to_1512_${{ env.KERNEL_VERSION }}.patch || true
            echo "================="
            echo "=Upgraded 1.5.12="
            echo "================="

            REJ_FOUND "1.5.12"
          else
            echo "============================================================"
            echo "=Your kernelsu fork cannot supported SuSFS 1.5.12, Skipped.="
            echo "============================================================"
          fi

          # Upgrade 1.5.13
          if grep -q "CMD_SUSFS_ADD_SUS_MAP" "drivers/kernelsu/core_hook.c"; then

            if [ "${{ env.FIRST_VERSION }}" -lt 5 ] && [ "${{ env.SECOND_VERSION }}" -lt 15 ]; then
                if grep -q "seq_put_hex_ll" "include/linux/seq_file.h"; then
                    echo "=============Status============="
                    echo "=Needn't hex_ll patch, Skipped.="
                    echo "================================"
                else
                    cp /tmp/Patches/Patch/backport_seq_put_hex_ll.cocci ./
                    spatch --sp-file backport_seq_put_hex_ll.cocci --in-place fs/seq_file.c
                    sed -i '/^void seq_put_decimal_ll(struct seq_file \*m, const char \*delimiter, long long num);$/a\void seq_put_hex_ll(struct seq_file *m, const char *delimiter,\n\t\t\t unsigned long long v, unsigned int width);' include/linux/seq_file.h
                    echo "==============Status=============="
                    echo "=Tried to backport seq_put_hex_ll="
                    echo "=================================="
                fi
            fi

            cp /tmp/Patches/Patch/susfs_upgrade_to_1513_${{ env.KERNEL_VERSION }}.patch ./
            patch -p1 < susfs_upgrade_to_1513_${{ env.KERNEL_VERSION }}.patch || true
            echo "================="
            echo "=Upgraded 1.5.13="
            echo "================="

            REJ_FOUND "1.5.13"
          else
            echo "============================================================"
            echo "=Your kernelsu fork cannot supported SuSFS 1.5.13, Skipped.="
            echo "============================================================"
          fi

      - name: Updated SUSFS Patch Fixed
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_UPDATE == 'true' && env.SUSFS_SKIP != 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if [[ -z "${{ env.SUSFS_LATEST_FIXED }}" ]]; then
            echo "Your doesn't powered any patch file."
          else
            IFS=',' read -ra FIXED_LIST <<< "${{ env.SUSFS_LATEST_FIXED }}"
            echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            for i in "${!FIXED_LIST[@]}"; do
              echo "Patching -> ${FIXED_LIST[$i]}"
              if [[ -z "${{ env.SUSFS_FOLDER_FIXED }}" ]]; then
                cp NonGKI_Kernel_Patches/${FIXED_LIST[$i]}.patch ./
              else
                cp NonGKI_Kernel_Patches/"${{ env.SUSFS_FOLDER_FIXED }}"/${FIXED_LIST[$i]}.patch ./
              fi
              patch -p1 < ${FIXED_LIST[$i]}.patch || true
              echo "Patch fine!"
              echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            done
          fi

      - name: Upload Build Patch Rejected Files
        if: env.BUILD_DEBUGGER == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: patch_rejected_files
          path: |
            device_kernel/rej_files_*
