name: 'Patch SuSFS for Kernel.'

runs:
  using: 'composite'
  steps:
      - name: Get SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          # Core
          if [[ "${{ env.SUSFS_FIXED }}" == true ]]; then
            if [ -z "${{ env.PATCHES_SOURCE }}" ] || [ -z "${{ env.PATCHES_BRANCH }}" ]; then
              echo "Please input a vaild source and branch!"
              false
            elif [[ "${{ env.PATCHES_SOURCE }}" == *".git" ]]; then
              echo "Please do not set a full URL in PATCH_SOURCE!"
              false
            else
              git clone https://github.com/${{ env.PATCHES_SOURCE }}.git -b ${{ env.PATCHES_BRANCH }} NonGKI_Kernel_Patches --depth=1 # It's not necessary.
            fi
          fi

      - name: Set KSU and SUSFS for DEFCONFIG
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          echo "CONFIG_KSU_SUSFS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_PATH=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SUS_KSTAT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}

          if grep -q "KERNEL_PRIV_APP_DOMAIN" "drivers/kernelsu/selinux/selinux.c" >/dev/null 2>&1 || [[ "${{ env.KERNELSU_SOURCE }}" == *SukiSU* ]] || [[ "${{ env.KERNELSU_AUTO_FORK }}" == "sukisu" ]]; then
            echo "[-] Skipped to add some older SuSFS configs."
          else
            echo "# CONFIG_KSU_SUSFS_SUS_SU is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_TRY_UMOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "# CONFIG_KSU_SUSFS_SUS_OVERLAYFS is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "# CONFIG_KSU_SUSFS_SUS_SU is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "[+] Added some older SuSFS configs to defconfig."
          fi

          echo "CONFIG_KSU_SUSFS_SPOOF_UNAME=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_ENABLE_LOG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "CONFIG_KSU_SUSFS_OPEN_REDIRECT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}

          if grep -q "CMD_SUSFS_ADD_SUS_MAP" "drivers/kernelsu/core_hook.c" >/dev/null 2>&1 || grep -q "CMD_SUSFS_ADD_SUS_MAP" "drivers/kernelsu/supercalls.c" >/dev/null 2>&1; then
            echo "CONFIG_KSU_SUSFS_SUS_MAP=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "[+] Detected SUS_MAP."
          fi

          if grep -q "THREAD_INFO_IN_TASK" "drivers/kernelsu/Kconfig"; then
            echo "CONFIG_THREAD_INFO_IN_TASK=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          fi

      - name: Patch SuSFS
        if: env.SUSFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          PACK_FILES(){
            temp_dir=$(mktemp -d)
            find . -name "*.rej" -exec cp --parents {} "$temp_dir" \;
            find . -name "*.rej" | sed 's/\.rej$//' | xargs -I {} test -f {} && find . -name "*.rej" | sed 's/\.rej$//' | xargs -I {} cp --parents {} "$temp_dir"
            tar -czf "rej_files_1.5.5.tar.gz" -C "$temp_dir" .
            rm -rf "$temp_dir"
            echo "[+] Packed Successfully."

            find . -type f \( -name "*.rej" -o -name "*.orig" \) -delete
            echo "[+] Removed all .rej and .orig files."
            echo "[+] =================================== "
          }

          # Check SuSFS
          if grep -q "CONFIG_KSU_SUSFS" "fs/namespace.c"; then
            echo ">>>>>>>>>>>>Check<<<<<<<<<<<<"
            echo ">SuSFS is already patched, skipping.<"
            echo ">>>>>>>>>>>>>> <<<<<<<<<<<<<<"
            echo "SUSFS_SKIP=true" >> $GITHUB_ENV
          else
            cp /tmp/Patches/Patch/susfs_patch_to_${{ env.KERNEL_VERSION }}.patch ./

            patch -p1 < susfs_patch_to_${{ env.KERNEL_VERSION }}.patch || true
          fi

          # Patch .rej find
          if [[ "${{ env.BUILD_DEBUGGER }}" == "true" ]]; then
            echo "[+] Checking SuSFS v1.5.5 rej files..."
            mapfile -t REJ_FILES < <(find . -type f -name "*.rej")
            if [ ${#REJ_FILES[@]} -eq 0 ]; then
                echo "[+] Your kernel have no any rej files, Skipped."
            else
                for CAT_REJ in "${REJ_FILES[@]}"; do
                    echo "[-] Found .rej file: $CAT_REJ"
                    cat $CAT_REJ
                    echo "[+] =================================== "
                done
            fi

            if [[ "${{ env.SKIP_PATCH }}" == "true" ]] || [ -n "${{ env.SUSFS_PATCH_FIXED }}" ]; then
                echo "[+] SuSFS Patch Version: v1.5.5. "
                echo "[+] SKIP_PATCH enabled or found SuSFS v1.5.5 Fixed Patch, skipping."
                PACK_FILES
            elif [[ "${{ env.SKIP_PATCH }}" != "true" ]] || [ -z "${{ env.SUSFS_PATCH_FIXED }}" ]; then
                echo "[+] SuSFS Patch Version: v1.5.5. "
                echo "[-] Found .rej files, Stopped! "
                PACK_FILES
                false
            fi
          fi

      - name: SUSFS Patch Fixed
        if: env.SUSFS_ENABLE == 'true' && env.SUSFS_SKIP != 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if [[ -z "${{ env.SUSFS_PATCH_FIXED }}" ]]; then
            echo "You didn't provide any patch file."
          else
            IFS=',' read -ra FIXED_LIST <<< "${{ env.SUSFS_PATCH_FIXED }}"
            echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            for i in "${!FIXED_LIST[@]}"; do
              echo "Patching -> ${FIXED_LIST[$i]}"
              if [[ -z "${{ env.SUSFS_FOLDER_FIXED }}" ]]; then
                cp NonGKI_Kernel_Patches/${FIXED_LIST[$i]}.patch ./
              else
                cp NonGKI_Kernel_Patches/"${{ env.SUSFS_FOLDER_FIXED }}"/${FIXED_LIST[$i]}.patch ./
              fi
              patch -p1 < ${FIXED_LIST[$i]}.patch || true
              echo "Patching successful!"
              echo "<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>"
            done
          fi

      - name: Upload Build Patch Rejected Files
        if: env.BUILD_DEBUGGER == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: patch_rejected_files
          path: |
            device_kernel/rej_files_*
