name: 'Patch Hide Stuff.'

runs:
  using: 'composite'
  steps:
      - name: Patch Hide Stuff
        if: env.HIDE_STUFF == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/

          if grep -q "show_vma_header_prefix_fake" "fs/proc/task_mmu.c"; then
            echo "[+] Found show_vma_header_prefix_fake."
          else
            cp /tmp/Patches/HideStuff/added_show_vma_header_prefix_fake.cocci ./
            spatch --sp-file added_show_vma_header_prefix_fake.cocci --in-place fs/proc/task_mmu.c
            echo "[+] Added show_vma_header_prefix_fake."
          fi

          if grep "struct dentry \*dentry" "fs/proc/task_mmu.c"; then
            echo "[+] Found variable."
          else
            sed -i '/const char \*name = NULL;/a\    struct dentry *dentry;' fs/proc/task_mmu.c
            echo "[+] Added dentry."
          fi

          if grep -q "jit-zygote-cache" "fs/proc/task_mmu.c"; then
            echo "[+] Found hide stuff."
          else
            cp /tmp/Patches/HideStuff/function_hide_stuff.cocci ./
            spatch --sp-file function_hide_stuff.cocci --in-place fs/proc/task_mmu.c
            echo "[+] Added hide stuff."
          fi

          if grep -q "bypass:" "fs/proc/task_mmu.c"; then
            echo "[+] Found bypass."
          else
            if grep -q 'if (show_vma_header_prefix' "fs/proc/task_mmu.c"; then
                perl -i -0pe 's/(if \(show_vma_header_prefix\(m, start, end, flags, pgoff, dev, ino\)\)\s+return;)/$1\nbypass:/s' fs/proc/task_mmu.c
                echo "[+] Added bypass."
            else
                sed -i '/show_vma_header_prefix(m, start, end, flags, pgoff, dev, ino);/a\bypass:' fs/proc/task_mmu.c
                echo "[+] Added bypass."
            fi
          fi

          if grep -q "lineage" "fs/proc/base.c"; then
            echo "[+] Found hide stuff part ii."
          else
            cp /tmp/Patches/HideStuff/function_hide_stuff_partii.cocci ./
            spatch --sp-file function_hide_stuff_partii.cocci --in-place fs/proc/base.c
            echo "[+] Added hide stuff part ii."
          fi

          if grep -q "/dev/ashmem" "fs/proc/task_mmu.c"; then
            sed -i 's|"/dev/ashmem (deleted)"|"/system/framework/framework-res.apk"|' fs/proc/task_mmu.c
            sed -i 's|"/dev/ashmem (deleted)"|"/system/framework/framework-res.apk"|' fs/proc/base.c
            echo "[+] Changed ashmem to framework-res."
          fi
