name: 'Patch HymoFS for Kernel.'

runs:
  using: 'composite'
  steps:
      - name: Patch HymoFS
        if: env.HYMOFS_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel/
          cp /tmp/Patches/HymoFS/* ./

          if [ -f "fs/hymofs.c" ]; then
            patch -p1 < hymofs_extra.patch || true
            bash hymofs_patches.sh
            echo "[+] Patched HymoFS for your kernel successfully."
          else
            echo "[-] Kernel existed HymoFS !"
          fi
