name: 'Preparation for the official start of the compilation steps.'

runs:
  using: 'composite'
  steps:
      - name: Get Kernel
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE
          git clone --recursive "${{ env.KERNEL_SOURCE }}" -b "${{ env.KERNEL_BRANCH }}" device_kernel --depth=1

          # Get KernelSU Version and Kernel Version

          KERNEL_VERSION=$(head -n 3 $GITHUB_WORKSPACE/device_kernel/Makefile | grep -E 'VERSION|PATCHLEVEL' | awk '{print $3}' | paste -sd '.')
          echo "KERNEL_VERSION=$(head -n 3 device_kernel/Makefile | grep -E 'VERSION|PATCHLEVEL' | awk '{print $3}' | paste -sd '.')" >> $GITHUB_ENV
          echo "FIRST_VERSION=$(echo "$KERNEL_VERSION" | awk -F '.' '{print $1}')" >> $GITHUB_ENV
          echo "SECOND_VERSION=$(echo "$KERNEL_VERSION" | awk -F '.' '{print $2}')" >> $GITHUB_ENV

      - name: Get Kernel Arch
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          if [[ -d "arch/arm64/configs" ]]; then
            echo "KERNEL_ARCH=arm64" >> $GITHUB_ENV
          else
            echo "KERNEL_ARCH=arm" >> $GITHUB_ENV
          fi

      - name: Get Packing Tools
        shell: bash
        run: |
          # Set ${{ env.PACK_METHOD }}

          if [[ "${{ env.PACK_METHOD }}" == "Anykernel3" ]]; then
            cd $GITHUB_WORKSPACE/device_kernel
            if [[ -d "Anykernel3" ]]; then
              echo "Found Anykernel3 in Kernel!"
            else
              git clone "${{ env.AK3_SOURCE }}" -b "${{ env.AK3_BRANCH }}" Anykernel3 --depth=1
            fi
          elif [[ "${{ env.PACK_METHOD }}" == "MKBOOTIMG" ]] || [ "${{ env.DEFCONFIG_FROM_BOOT }}" == "true" ]; then
            cd $GITHUB_WORKSPACE
            git clone https://android.googlesource.com/platform/system/tools/mkbootimg $GITHUB_WORKSPACE/mkboottools -b main-kernel-build-2024 --depth=1
            ${{ env.CURLX }} ${{ env.BOOT_SOURCE }} $GITHUB_WORKSPACE/boot_source_${{ env.DEVICE_NAME }}.img
            cd device_kernel
          else
            echo "Need packing method! "
            false
          fi
          echo "PACK_METHOD=${{ env.PACK_METHOD }}" >> $GITHUB_ENV

      - name: Get DEFCONFIG
        if: env.DEFCONFIG_SOURCE != '' || env.DEFCONFIG_FROM_BOOT == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          if [[ -n "${{ env.DEFCONFIG_SOURCE }}" ]]; then
            if [[ -d "device_kernel/arch/arm64/configs" ]]; then
                ${{ env.CURLX }} ${{ env.DEFCONFIG_SOURCE }} device_kernel/arch/arm64/configs/${{ env.DEFCONFIG_NAME }}
            else
                ${{ env.CURLX }} ${{ env.DEFCONFIG_SOURCE }} device_kernel/arch/arm/configs/${{ env.DEFCONFIG_NAME }}
            fi
          elif [[ -z "${{ env.DEFCONFIG_ORIGIN_IMAGE }}" ]]; then
            if [[ "${{ env.DEFCONFIG_FROM_BOOT }}" == "true" ]]; then
                if [[ -f "${{ env.BOOT_SOURCE }}" ]]; then
                    ${{ env.CURLX }} "${{ env.BOOT_SOURCE }}" $GITHUB_WORKSPACE/boot.img
                    $GITHUB_WORKSPACE/mkboottools/unpack_bootimg.py --boot_img $GITHUB_WORKSPACE/boot.img
                    mv $GITHUB_WORKSPACE/out/kernel $GITHUB_WORKSPACE/device_kernel/Image
                    if [[ -d "device_kernel/arch/arm64/configs" ]]; then
                        $GITHUB_WORKSPACE/device_kernel/scripts/extract-ikconfig $GITHUB_WORKSPACE/device_kernel/Image > $GITHUB_WORKSPACE/device_kernel/arch/arm64/configs/${{ env.DEFCONFIG_NAME }}
                    else
                        $GITHUB_WORKSPACE/device_kernel/scripts/extract-ikconfig $GITHUB_WORKSPACE/device_kernel/Image > $GITHUB_WORKSPACE/device_kernel/arch/arm/configs/${{ env.DEFCONFIG_NAME }}
                    fi
                fi
            else
                ${{ env.CURLX }} "${{ env.DEFCONFIG_ORIGIN_IMAGE }}" $GITHUB_WORKSPACE/device_kernel/Image
                if [[ -d "device_kernel/arch/arm64/configs" ]]; then
                    $GITHUB_WORKSPACE/device_kernel/scripts/extract-ikconfig $GITHUB_WORKSPACE/device_kernel/Image > $GITHUB_WORKSPACE/device_kernel/arch/arm64/configs/${{ env.DEFCONFIG_NAME }}
                else
                    $GITHUB_WORKSPACE/device_kernel/scripts/extract-ikconfig $GITHUB_WORKSPACE/device_kernel/Image > $GITHUB_WORKSPACE/device_kernel/arch/arm/configs/${{ env.DEFCONFIG_NAME }}
                fi
            fi
          fi

      - name: Set KernelSU
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          # Function
          KERNELSU_AUTO(){
            if [[ "${{ env.KERNELSU_AUTO_FORK }}" == "magic" ]]; then
                KERNELSU_AUTHOR="backslashxx"
                KERNELSU_NAME="KernelSU"
                if [[ "${{ env.SUSFS_ENABLE }}" == "true" ]]; then
                    echo "Magic doesn't support SuSFS! "
                    false
                else
                    KERNELSU_BRANCH="master"
                fi
            elif [[ "${{ env.KERNELSU_AUTO_FORK }}" == "rsuntk" ]]; then
                KERNELSU_AUTHOR="backslashxx"
                KERNELSU_NAME="KernelSU"
                if [[ "${{ env.SUSFS_ENABLE }}" == "true" ]]; then
                    KERNELSU_BRANCH="susfs-main"
                else
                    KERNELSU_BRANCH="master"
                fi
            elif [[ "${{ env.KERNELSU_AUTO_FORK }}" == "sukisu" ]]; then
                KERNELSU_AUTHOR="backslashxx"
                KERNELSU_NAME="KernelSU"
                if [[ "${{ env.SUSFS_ENABLE }}" == "true" ]]; then
                    KERNELSU_BRANCH="susfs-main"
                else
                    KERNELSU_BRANCH="master"
                fi
            else
                echo "Please input vaild fork name!"
                false
            fi

            if [[ "${{ env.KERNELSU_METHOD }}" == "shell" ]]; then
                curl -sSL "https://raw.githubusercontent.com/$KERNELSU_AUTHOR/$KERNELSU_NAME/refs/heads/$KERNELSU_BRANCH/kernel/setup.sh" | bash -s $KERNELSU_BRANCH
            elif [[ "${{ env.KERNELSU_METHOD }}" == "manual" ]]; then
                rm -rf *KernelSU*
                git clone "https://github.com/$KERNELSU_AUTHOR/$KERNELSU_NAME.git" -b "$KERNELSU_BRANCH" KernelSU
                ln -sf "$(realpath --relative-to="$GITHUB_WORKSPACE/device_kernel/drivers" "$GITHUB_WORKSPACE/device_kernel/KernelSU/kernel")" "kernelsu"
                grep -q "kernelsu" "$GITHUB_WORKSPACE/device_kernel/drivers/Makefile" || printf "\nobj-\$(CONFIG_KSU) += kernelsu/\n" >> $GITHUB_WORKSPACE/device_kernel/drivers/Makefile
                grep -q "source \"drivers/kernelsu/Kconfig\"" "$GITHUB_WORKSPACE/device_kernel/drivers/Kconfig" || sed -i "/endmenu/i\source \"drivers/kernelsu/Kconfig\"" "$GITHUB_WORKSPACEdevice_kernel/drivers/Kconfig"
                echo "KernelSU Settings done."
            elif [[ "${{ env.KERNELSU_METHOD }}" == "only" ]];then
                git clone "https://github.com/$KERNELSU_AUTHOR/$KERNELSU_NAME.git" -b "$KERNELSU_BRANCH" KernelSU
            fi
          }

          KERNELSU_MANUAL(){
            if [[ "${{ env.KERNELSU_METHOD }}" == "shell" ]]; then
                curl -sSL "${{ env.KERNELSU_SOURCE }}" | bash -s "${{ env.KERNELSU_BRANCH }}"
            elif [[ "${{ env.KERNELSU_METHOD }}" == "manual" ]]; then
                rm -rf *KernelSU*
                git clone "${{ env.KERNELSU_SOURCE }}" -b "${{ env.KERNELSU_BRANCH }}" KernelSU
                ln -sf "$(realpath --relative-to="$GITHUB_WORKSPACE/device_kernel/drivers" "$GITHUB_WORKSPACE/device_kernel/KernelSU/kernel")" "kernelsu"
                grep -q "kernelsu" "$GITHUB_WORKSPACE/device_kernel/drivers/Makefile" || printf "\nobj-\$(CONFIG_KSU) += kernelsu/\n" >> $GITHUB_WORKSPACE/device_kernel/drivers/Makefile
                grep -q "source \"drivers/kernelsu/Kconfig\"" "$GITHUB_WORKSPACE/device_kernel/drivers/Kconfig" || sed -i "/endmenu/i\source \"drivers/kernelsu/Kconfig\"" "$GITHUB_WORKSPACEdevice_kernel/drivers/Kconfig"
                echo "KernelSU Settings done."
            elif [[ "${{ env.KERNELSU_METHOD }}" == "only" ]];then
                git clone "${{ env.KERNELSU_SOURCE }}" -b "${{ env.KERNELSU_BRANCH }}" KernelSU
            fi
          }

          # Core
          if [[ ${{ env.KERNELSU_AUTO_GET }} == "true" ]]; then
            KERNELSU_AUTO
          else
            KERNELSU_MANUAL
          fi
          echo "KERNELSU_METHOD=${{ env.KERNELSU_METHOD }}" >> $GITHUB_ENV

      - name: KPM Function Support
        if: env.KPM_ENABLE == 'true'
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          if [[ -d "${{ env.KERNELSU_NAME }}/kernel/kpm" ]]; then
            if [ -f "include/linux/set_memory.h" ]; then
                echo "CONFIG_KPM=y" >> ./arch/arm64/configs/${{ env.DEFCONFIG_NAME }}
                ${{ env.CURLX }} "${{ env.KPM_PATCH_SOURCE }}" patch
                chmod a+x patch
                echo "Set KPM successfully !"
            else
                if [ "${{ env.FIRST_VERSION }}" -lt 5 ] && [ "${{ env.SECOND_VERSION }}" -lt 10 ]; then
                    cp /tmp/Patches/Patch/set_memory_to_49_and_low.patch ./
                    patch -p1 < set_memory_to_49_and_low.patch || true
                    echo "CONFIG_KPM=y" >> ./arch/arm64/configs/${{ env.DEFCONFIG_NAME }}
                    ${{ env.CURLX }} "${{ env.KPM_PATCH_SOURCE }}" patch
                    chmod a+x patch
                    echo "Patch set_memory successfully !"
                    echo "If have patch error (.rej), manual fixed it."
                else
                    echo "Your kernel cannot support KPM function."
                    false
                fi
            fi
          else
            echo "KernelSU cannot support KPM !"
            false
          fi

          # Fixed stack frame overflow vulnerability
          if [[ "${{ env.KPM_FIX }}" == "true" ]]; then
            cd ${{ env.KERNELSU_NAME }}/kernel/kpm
            cp /tmp/Patches/Patch/fix_kpm.patch ./
            patch -p1 < fix_kpm.patch || true
          fi

      - name: Set KSU and SUSFS for DEFCONFIG
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/device_kernel

          echo "CONFIG_KSU=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo "# CONFIG_KPROBES is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          if [[ "${{ env.KERNELSU_SOURCE }}" == *SukiSU* ]] || [[ "${{ env.KERNELSU_AUTO_FORK }}" == "sukisu" ]] && [[ "${{ env.HOOK_METHOD }}" == "tracepoint" ]]; then
            echo "CONFIG_KSU_TRACEPOINT_HOOK=y" >> ./arch/arm64/configs/${{ env.DEFCONFIG_NAME }}
            echo "Enabled tracepoint."
          elif [[ "${{ env.KERNELSU_SOURCE }}" == *rsuntk* ]] || [[ "${{ env.KERNELSU_SOURCE }}" == *SukiSU* ]] && [[ "${{ env.KERNELSU_AUTO_FORK }}" == "sukisu" ]] || [[ "${{ env.KERNELSU_AUTO_FORK }}" == "rsuntk" ]]; then
            echo "CONFIG_KSU_MANUAL_HOOK=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_MANUAL_SU=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            if [ "${{ env.FIRST_VERSION }}" -lt 5 ] && [ "${{ env.SECOND_VERSION }}" -lt 10 ]; then
                echo "CONFIG_KSU_THRONE_TRACKER_LEGACY=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            fi
          fi
          if [[ "${{ env.KERNELSU_SOURCE }}" == *SukiSU* ]] || [[ "${{ env.KERNELSU_AUTO_FORK }}" == "sukisu" ]] && [[ "${{ env.KPM_ENABLE }}" == "true" ]]; then
            echo "CONFIG_KALLSYMS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KALLSYMS_ALL=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          fi
          if [[ "${{ env.SUSFS_ENABLE }}" == "true" ]]; then
            echo "CONFIG_KSU_SUSFS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_SUS_PATH=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_SUS_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_SUS_KSTAT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "# CONFIG_KSU_SUSFS_SUS_OVERLAYFS is not set" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_TRY_UMOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_SPOOF_UNAME=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_ENABLE_LOG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
            echo "CONFIG_KSU_SUSFS_OPEN_REDIRECT=y" >> ./arch/${{ env.KERNEL_ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          fi
